<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-only tabs-stable">

  <!-- Meets -->
  <ion-tab title="Around" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/meets">
    <ion-nav-view name="tab-meets"></ion-nav-view>
  </ion-tab>

  <!-- Groups -->
  <ion-tab title="Groups" icon-off="ion-ios-flag-outline" icon-on="ion-ios-flag" href="#/tab/groups">
    <ion-nav-view name="tab-groups"></ion-nav-view>
  </ion-tab>

  <!-- New meet -->
  <ion-tab title="Plus" icon-off="ion-ios-plus-empty" icon-on="ion-android-add" href="#/tab/newMeet">
    <ion-nav-view name="tab-newMeet"></ion-nav-view>
  </ion-tab>

  <!-- Conversations -->
  <ion-tab title="Conversations" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" href="#/tab/conversations">
    <ion-nav-view name="tab-conversations"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/user">
    <ion-nav-view name="tab-user"></ion-nav-view>
  </ion-tab>


</ion-tabs>
