@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,600,400);

$primary-orange: #ff9065;
$main-grey: #4c5557;
$light-grey: #89939a;

// Base
@import '../www/css/base/base';

// Tools
@import '../www/css/tools/margins';
@import '../www/css/tools/paddings';

// Layout
@import '../www/css/layout/layout';
@import '../www/css/layout/header';
@import '../www/css/layout/dropdown';

// Modules
@import '../www/css/module/button';
@import '../www/css/module/typography';
@import '../www/css/module/input';
@import '../www/css/module/image';

// Content modules
@import '../www/css/module/content/meet';
@import '../www/css/module/content/conversation';
@import '../www/css/module/content/chat';