<ion-view view-title='belenka'>
  <ion-content class="padding">
    <div class="card" ng-if='message'>
      <div class="item item-text-wrap text-center">
        {{ message }}
      </div>
    </div>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model='user.email'>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model='user.password'>
      </label>
      <button class="button button-block button-large button-positive" ng-click='signIn(user)'>Go along</button>
    </div>
  </ion-content>
</ion-view>