.chat-item {
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 60px;
  > img.chat-image {
    top: 10px;
  }
  .chat-text {
    border-radius: 5px;
    color: white;
  }
  &.chat-item-right {
    .chat-image {
      display: none;
    }
    .chat-text {
      float: right;
    }
  }
}

.chat-input {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  label {
    height: 50px;
    background-color: transparent;
    input {
      width: 100%;
    }
  }
  a {
    margin-right: 5px;
  }
}

.message-wrapper.lifted {
  margin-bottom: 50px;
}