<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/restangular/dist/restangular.min.js"></script>
    <script src="lib/lodash/lodash.min.js"></script>
    <script src="lib/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="http://141.136.40.194:5000/socket.io/socket.io.js" type="text/javascript"></script>

    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/users/Users.js"></script>
    <script src="js/main/CurrentUser.js"></script>
    <script src="js/main/HeaderCtrl.js"></script>
    <script src="js/main/HeaderData.js"></script>
    <script src="js/meets/MeetsCtrl.js"></script>
    <script src="js/meets/NewMeetCtrl.js"></script>
    <script src="js/groups/GroupsCtrl.js"></script>
    <script src="js/groups/NewGroupCtrl.js"></script>
    <script src="js/users/UserCtrl.js"></script>
    <script src="js/conversations/ConversationsCtrl.js"></script>
    <script src="js/conversations/ConversationCtrl.js"></script>
    <script src="js/conversations/Conversations.js"></script>
    <script src="js/main/MainCtrl.js"></script>
    <script src="js/main/httpInterceptor.js"></script>
    <script src="js/main/Socket.js"></script>
    <script src="js/auth/AuthCtrl.js"></script>
  </head>
  <body ng-app="alongapp">
    <ion-nav-bar class="bar-positive" ng-controller="HeaderCtrl">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <p class="al-header-text" ng-if="!!rightPost" ng-click="rightPostFunc()">Post</p>
    </ion-nav-bar>
    <ion-nav-view></ion-nav-view>
  </body>
</html>
