<ion-view view-title="myts">
  <ion-content>
	  <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()" spinner="ripple" pulling-text="a">
    </ion-refresher>
  	<ion-item collection-repeat="meet in meets" item-height="100">
  		<div class="al-list-image-wrapper">
	  		<img ng-src="{{ meet.user.avatar_url }}">
  		</div>
	    {{ meet.description }}
	  </ion-item>
  </ion-content>
</ion-view>
