<ion-view view-title="new meet">
  <ion-content>
  	<textarea class="al-new-description" ng-model="meet.description" ng-keyup="checkLength()" placeholder="What do you want to do?"></textarea>
		<div class="text-right bigger-text grey-text text-count"><span>	{{ meet.description.length }} </span><span>/ 50</span></div>
  </ion-content>
</ion-view>
