<ion-view view-title="alongapp">
  <ion-content>
  	<div class="item item-text-wrap text-center" ui-sref="newGroup">
      New group
    </div>
    <h1>Group list</h1>
  	<ion-item collection-repeat="group in groups" item-height="100">
  		<div class="al-list-image-wrapper">
	  		<img ng-src="{{ group.image_url }}">
  		</div>
	    {{ group.name }}
	  </ion-item>
  </ion-content>
</ion-view>
