body {
	font-family: 'Open Sans', sans-serif;
}

.text-center {
  text-align: center;
}

.stable-background {
  background-color: $positive;
}

.hidden {
  display: none;
}

a[data-ng-click] {
  cursor: pointer;
}