<ion-view view-title="conversations">
  <ion-content>
    <div collection-repeat="conversation in conversations" item-height="100" class='list'>
      <a class="conversation-item item item-avatar" ui-sref='conversation({ id: conversation.id, conversation: conversation })'>
        <img class='conversation-image' ng-src="{{ conversation.friend.avatar_url }}">
        <h2>{{ conversation.friend.name }}</h2>
        <p>{{ conversation.last_message }}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
