<ion-view view-title="{{ conversation.friend.name }}">
  <ion-content>
    <div class='message-wrapper' ng-repeat='message in messages' ng-class='{ lifted: $last }'>
      <div class="chat-item item item-avatar" ng-class="{ 'chat-item-right': currentUser.id === message.user.id }">
        <img class='chat-image' ng-src="{{ message.user.avatar_url }}" ng-class='{ hidden: messages[$index - 1].user.id === message.user.id }'>
        <p class='padding inline stable-background chat-text'>{{ message.text }}</p>
      </div>
    </div>
  </ion-content>
  <div class="item item-input-inset chat-input">
    <label class="item-input-wrapper">
      <input type='text' ng-model='message.text' placeholder='Text that bitch back'>
    </label>
    <a data-ng-click='postMessage(message)'>
      Send
    </a>
  </div>
</ion-view>